@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: IRANYekan,sans-serif;
    scroll-behavior: smooth;
    @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
input{
    font-family: IRANYekan,sans-serif;
}
.tether-element{
    z-index: 99;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
